In [1]:
import pandas as pd
import numpy as np
from glob import glob

In [2]:
source_filelist = glob('*.csv')
col_names = ['category', 'header', 'data_discriminator', 'asset_category',
             'currency', 'symbol', 'date_time', 'quantity',
             't_price', 'c_price', 'proceeds', 'comm_fee',
             'basis', 'realized_pl', 'mtm_pl', 'code_1', 'code_2']

In [3]:
df_source = pd.DataFrame()
for file in source_filelist:
    df = pd.read_csv(file,
                     header=None,
                     names=col_names)
    df_source = pd.concat([df_source, df])

In [4]:
df_put_option = df_source[(df_source['category'] == 'Trades') &
                          (df_source['header'] == 'Data') &
                          (df_source['asset_category'] == 'Equity and Index Options') &
                          (df_source['currency'] == 'USD') &
                          (df_source['symbol']).str.contains(' C')]

In [5]:
df_put_option['month'] = df_put_option['date_time'].str[:7]

C:\Users\Ridwan\AppData\Local\Temp\ipykernel_7128\2577247358.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_put_option['month'] = df_put_option['date_time'].str[:7]

In [6]:
df_put_option['proceeds'] = df_put_option['proceeds'].astype(float)
df_put_option['comm_fee'] = df_put_option['comm_fee'].astype(float)

C:\Users\Ridwan\AppData\Local\Temp\ipykernel_7128\23045636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_put_option['proceeds'] = df_put_option['proceeds'].astype(float)
C:\Users\Ridwan\AppData\Local\Temp\ipykernel_7128\23045636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_put_option['comm_fee'] = df_put_option['comm_fee'].astype(float)

In [7]:
pd.pivot_table(df_put_option, values=[
               'proceeds', 'comm_fee'], index='month', aggfunc=sum)

         comm_fee  proceeds
month
2022-07 -3.889557     185.0
2022-08 -2.716692     118.0
2022-09  0.000000       0.0
2022-10 -0.559713     308.0
2023-01 -2.157131    4190.0
2023-02 -1.054010     315.0
2023-03  0.000000       0.0
2023-04 -2.725990     410.0
2023-05 -5.429808    -761.0